USE [master]
GO
/****** Object:  Database [IauPark]    Script Date: 28.12.2022 14:20:06 ******/
CREATE DATABASE [IauPark]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IauPark', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IauPark.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IauPark_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IauPark_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IauPark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IauPark]
GO
USE [IauPark]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 28.12.2022 14:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[ParkOrder] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[ID] [varchar](50) NULL,
	[Plate] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Number] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Block] [varchar](50) NULL,
	[LPG] [varchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ParkOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_2]    Script Date: 28.12.2022 14:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_2](
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_1] ON 

INSERT [dbo].[Table_1] ([ParkOrder], [Name], [Surname], [ID], [Plate], [Brand], [Model], [Number], [Location], [Block], [LPG]) VALUES (1, N'Eyüp', N'Demirbilek', N'344521', N'34FT1329', N'Fiat', N'Doblo', N'3445542', N'Indoor', N'A', N'Yes')
INSERT [dbo].[Table_1] ([ParkOrder], [Name], [Surname], [ID], [Plate], [Brand], [Model], [Number], [Location], [Block], [LPG]) VALUES (2, N'Arda', N'Aygün', N'324123', N'01CT55', N'Ford', N'Focus', N'5471436', N'Outdoor', N'B', N'No')
INSERT [dbo].[Table_1] ([ParkOrder], [Name], [Surname], [ID], [Plate], [Brand], [Model], [Number], [Location], [Block], [LPG]) VALUES (3, N'Ahmet', N'Akyol', N'768642', N'34AY546', N'Toyota', N'Corolla', N'4853123', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Table_1] OFF
INSERT [dbo].[Table_2] ([Username], [Password]) VALUES (N'eyupdemirbilek', N'123456')
USE [master]
GO
